{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block main %}

<div class=" container-fluid justify-center w-50 bg-gray-100 shadow-indigo-500/40">
      <form class="" action="" method="POST" class="form-groups">
      <fieldset class="form-group ">
          <legend class="border-bottom mb-4">Create Account</legend>
          {% csrf_token %}
          {{form | crispy}}   
        </fieldset>
        <div class="my-1"> 
          <p class="inline text-muted">Need an account?  </p> <a  href="{% url 'register' %}">Register</a>
        </div>
      <div class="form-group flex justify-center my-4">
          <button type="submit" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple">Submit</button>
      </div>  

  </form>
</div>

{% endblock main %}